.header{
    display: inline-block;
    text-align: center;
    color: #00a699;
    font-weight:bold;
}

.title{
    font-weight: bold;
}

.deleteButton{
    background-color:none;
    border:none;
    color:rgb(172, 172, 172);
}

.deleteButton:hover{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    color:white;
    background-color: rgb(172, 172, 172);
}